#col1 {
  background-color: #244F75;
  width: 20%;
  height: 900px; }

#col1 h3 {
  animation-name: stripe1;
  animation-duration: 1000ms; }

#col1::before {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 900px;
  opacity: 0.1;
  z-index: 3; }

#col2 {
  background-color: #60BFBF;
  width: 20%;
  height: 900px; }

#col2 h3 {
  animation-name: stripe1;
  animation-duration: 1000ms; }

#col2::before {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 900px;
  opacity: 0.1; }

#col3 {
  background-color: #8C4B7E;
  width: 20%;
  height: 900px; }

#col3 h3 {
  animation-name: stripe1;
  animation-duration: 1000ms; }

#col3::before {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 900px;
  opacity: 0.1;
  z-index: 3; }

#col4 {
  background-color: #F8BB44;
  width: 20%;
  height: 900px; }

#col4 h3 {
  animation-name: stripe1;
  animation-duration: 1000ms; }

#col4::before {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 900px;
  opacity: 0.1; }

#col5 {
  background-color: #F24B4B;
  width: 20%;
  height: 900px; }

#col5 h3 {
  animation-name: stripe1;
  animation-duration: 1000ms; }

#col5::before {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 900px;
  opacity: 0.1;
  z-index: 3; }

*:hover #col1::before {
  transform: skewX(35deg);
  transition: 3s; }

*:hover #col3::before {
  transform: skewX(35deg);
  transition: 3s; }

*:hover #col5::before {
  transform: skewX(35deg);
  transition: 3s; }

@keyframes stripe1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

body {
  font-family: 'Lato', sans-serif; }

main {
  height: 500px; }

#fila {
  position: absolute;
  height: 900px;
  width: 100%;
  color: white; }
  #fila .col h3 {
    font-size: 3rem;
    font-weight: 200; }
  #fila:hover::before {
    transform: skewX(35deg);
    transition: 5s; }
