#col1{
    background-color: #244F75;
    width: 20%;
    height: 900px;
}
#col1 h3{
    animation-name: stripe1;
    animation-duration: 1000ms;
}
#col1::before {
    content:'';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 900px;
    opacity: 0.1;
    z-index: 3;
   
}

